<h2>Listar Colaboradores</h2>

<div class="form-group">
    <label for="search">Pesquisar</label>
    <input type="text" class="form-control" id="search" placeholder="palavra a pesquisar" ng-change="search(searchKeyword)" ng-model="searchKeyword">
</div>

<table class="table" ng-if="isadmin()||isSupervisor()">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Tipo de Utilizador</th>
        <th>Foto</th>
        <th  style="text-align: right">Opções</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{user.Name}}</td>
        <td>{{user.Email}}</td>
        <td>{{usertype(user.Role)}}</td>
        <td><img style="height: 50px" ng-src="/uploads/{{user.Image.ID}}">
        </td>
        <td  style="text-align: right"><a href="#/users/edit/{{user.Id}}" class="btn btn-default glyphicon glyphicon-edit"
               aria-hidden="true"></a><a ng-really-message="Tem a certeza?"
                                         ng-really-click="delete(user.Id)"
                                         class="btn btn-default glyphicon glyphicon-remove-circle"
                                         aria-hidden="true"></a></td>
    </tr>
    </tbody>
</table>
