<div class="form-group">
    <label for="inputTitle">Pesquisar</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="palavra a pesquisar" ng-change="search(searchKeyword)" ng-model="searchKeyword">
</div>


<table class="table" ng-if="isadmin()||isSupervisor()">
    <thead>
    <tr>
        <th>Numero Interno</th>
        <th>Nome</th>
        <th>Nif</th>
        <th  style="text-align: right">Opções</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="client in clients">
        <td>{{client.Id}}</td>
        <td>{{client.Name}}</td>
        <td>{{client.Nif}}</td>


        <td  style="text-align: right"> <a href="#/clients/edit/{{client.Id}}" class="btn btn-default glyphicon glyphicon-edit"
               aria-hidden="true"></a><a ng-really-message="Tem a certeza?"
                                         ng-really-click="delete(client.Id)"
                                         class="btn btn-default glyphicon glyphicon-remove-circle"
                                         aria-hidden="true"></a></td>
    </tr>
    </tbody>
</table>
